.offices__list{
  margin: 60px 0px 0px 0px;
}
.office__item{
  border-bottom: 1px solid #eeee;
  &:last-child{
    border: none;
    margin: 0px 0px 60px 0px;
  }
  margin: 0px 0px 40px 0px;
  .city{
    color: #fcb500;
    margin: 0px 0px 12px 0px;
  }
  .room{
    color: #fcb500;
    margin: 0px 0px 15px 0px;
  }
  b{
    display: block;
    margin: 0px 0px 12px 0px;
  }
}

