.overlay{
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease-in-out;

  &.active{
    opacity: 1;
    pointer-events: all;
  }
  &.active .modalWindow{
  transform: translate(-50%,-50%);
  }
}